{{#> Container }}
    <h1>Title</h1>
    <p>This is some content inside the container.</p>
    {{#> Dialog title="Dialog Title" }}
        <p>This is the dialog content.</p>
    {{/ Dialog }}
{{/ Container }}

