<span class="p-2 greeting-primary-{{greetingClass}}" data-user="{{userId}}">
    <span>Inner span</span>
    Hello, {{name}}!
    {{#if isMember}}
        Thanks for being a member.
    {{/if}}
</span>
